<configuration scan="true">
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
      <providers>
        <timestamp/>
        <message/>
        <loggerName/>
        <threadName/>
        <logLevel/>
        <logLevelValue/>
        <stackTrace/>
        <logstashMarkers/>
      </providers>
    </encoder>
  </appender>

  <logger name="org.eclipse.jetty.server" level="warn"/>
  <logger name="org.eclipse.jetty.util.log" level="warn"/>
  <logger name="puppetlabs.pcp.broker" level="trace"/>

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
